.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  height: auto;
  width: 200px;
  margin: 50px;
  border-radius: 50px;
  &__image {
    border-radius: 50px;
    height: 300px;
    width: 150px;
    margin: 10px;
  }
  &__greeting{
    text-align: center;
  }
  .interest__list {
  font-size: 24px;
  text-align: left;
  padding: 0px;
  .interest__item {
    list-style: none;
  }
}
}


