
.dashboard__inputcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .dashboard__input {
    height: 2em;
    border-radius: 4px;
    width: 300px;
  }
  .search__button {
    height: 3em;
    margin: 30px;
  }
}
.album__selector{
  width: 200px;
  height: 2em;
  border-radius: 4px;
}

.grid__resultscontainer{
  width: 80%;
  left: 240px;
}
@media only screen and (max-width: 600px) {
  .grid__resultscontainer{
    width: 100%;
    left: 0;
  }
  }

